body {
    width: 100vw;
    height: calc(100vh - 100px);
}

#panel {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
}

#panel::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 50px;
    top: calc(50% - (2px/2));
    left: calc(50% - (50px/2));
    background-color: yellowgreen;
}

#panel::before {
    position: absolute;
    content: '';
    height: 50px;
    width: 2px;
    top: calc(50% - (50px/2));
    left: calc(50% - (2px/2));
    background-color: yellowgreen;
}

#panel .up,
#panel .down {
    width: 50%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 1px solid chocolate;
    font-size: 40px;
}